<h1 mat-dialog-title class="form-title">Equipe Form</h1>

<mat-dialog-content>
  <form [formGroup]="equipeForm" (ngSubmit)="onSubmit()" class="form-container">

    <!-- nomEquipe -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom Equipe</mat-label>
      <input
        matInput
        formControlName="nomEquipe"
        class="input-field"
        required
      />
    </mat-form-field>
    <div *ngIf="equipeForm.get('nomEquipe')?.invalid && equipeForm.get('nomEquipe')?.touched" class="error-message">
      Le nom de l'équipe est requis.
    </div>

    <!-- disponibilite -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Disponibilité</mat-label>
      <textarea
        matInput
        formControlName="disponibilite"
        placeholder="Saisir la disponibilité"
        rows="6"
        class="input-field"
        required>
      </textarea>
    </mat-form-field>
    <div *ngIf="equipeForm.get('disponibilite')?.invalid && equipeForm.get('disponibilite')?.touched" class="error-message">
      La disponibilité est requise.
    </div>

    <!-- Buttons -->
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onClose()" class="cancel-button">Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!equipeForm.valid" class="save-button">Save</button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>