/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  /* Button Styles */
  button {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: white;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  /* Add Form Styles */
  .add-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .add-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .add-form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .add-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .add-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Vehicle Table Styles */
  .vehicules-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .vehicules-table th, .vehicules-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .vehicules-table th {
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  .vehicules-table td {
    font-size: 14px;
  }
  
  .vehicules-table button {
    width: 80px;
    margin: 5px 0;
  }
  
  /* Update Form Styles */
  .update-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .update-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .update-form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .update-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .update-form button {
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }
 